RewriteEngine On
RewriteBase /admin/

# If the requested URL is not a directory or a file, rewrite to index.php with the 'page' parameter
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)$ index.php?page=$1 [L,QSA]
